# Tuples in Python
> Here we wil learn about Tuples in python.

- toc: true 
- badges: true
- comments: true
- categories: [programming]
- image: images/Tuples.png

# Tuples in python
- Store multiple item in single varibale.
-  Built-in data type.
- Collection which is ordered and unchangeable.
- Tuples are written in round bracket.

In [2]:
# example to demonstrate tuples
girl=("ani","leni")
print(girl)

('ani', 'leni')

Tuple are : <br>
- Ordered - in a order<br>
- Unchnagebale - cant add or remove item after tuple is created.<br>
- Duplicate - since tuple are indexed, it can have two same item.

# Tuple Length
len( ) function determine how mnay item a tuple consist.

In [4]:
girl=("ani","leni")
print(len(girl))

2

# Creating tuple with one item
To create tuple with one item, we have to add ',' after item name, else it is not recognized by python.

In [3]:
girl=("ani",)
print(girl)

('ani',)

# Data types used as tuple
Tuple can be of any data type.

In [5]:
girl=("ani",7,True)
print(girl)

('ani', 7, True)

# type()
It is defined as objects with data type tuple.<br>
<class 'tuple'>

In [6]:
girl=("ani",)
print(type(girl))

<class 'tuple'>

# tuple() Constructor
It is possible to use tuple( ) constructor to make tuple.

In [7]:
girl=tuple(("ani","leni"))
print(girl)
# note: We have to use 2 brackets

('ani', 'leni')

# Accessing Tuple
We can access tuple by its index number.

In [8]:
girl=("ani","leni")
print(girl[1])

leni

 - Negative Indexing<br>
 -1 refers to last item, -2 refers to second last item and so on.

- Range Indexing<br>

In [9]:
girl=("ani","leni")
print(girl[-1])

leni

- Check if item exists<br>
It uses in keyword.

In [10]:
girl=("ani","leni")
if "ani" in girl:
    print("yes")

yes

# Updating Tuple
We can't change , add, remove tuple though there are some other works that can be done.

- Change tuple value<br>
  - convert tuple into list
  - change the list
  - convert list back to tuple

In [11]:
girl=("ani","leny")
chn = list(girl)
chn[1]="seni"
girl = tuple(chn)
print(girl)

('ani', 'seni')

  - Adding item in tuple<br>
    - convert tuple into list
    - add item with use of .append
    - convert list back to tuple

In [13]:
girl=("ani","leny")
chn = list(girl)
chn.append("seni")
girl = tuple(chn)
print(girl)

('ani', 'leny', 'seni')

  - Adding tuple to tuple

In [15]:
girl=("ani","leny")
chn =("seni",)
adde= girl + chn
print(adde)

('ani', 'leny', 'seni')

- Remove item in tuple<br>
Use of .remove instead of .append

In [16]:
girl=("ani","leny")
chn = list(girl)
chn.remove("leny")
girl = tuple(chn)
print(girl)

('ani',)

  - Delete tuple completely <br>
  It shows error

In [17]:
girl=("ani","leny")
del girl
print(girl)

NameError: name 'girl' is not defined

# Unpack tuple
Exracting value back to variable is called a unpacking of tuple.

In [18]:
girl=("ani","leny")
(lovely,cute)=girl
print(lovely)
print(cute)

ani
leny

# Loop tuple
  - Use of for loop

In [19]:
girl=("ani","seni")
for x in girl:
    print(x)

ani
seni

  - Use of while loop

In [20]:
girl=("ani","seni")
i = 0
while i < len(girl):
    print(girl[i])
    i = i + 1

ani
seni

# join tuple
We use '+' operator to join two or more tuples.

In [21]:
girl=("ani","sha")
age = (1,9)
tot = girl + age
print(tot)

('ani', 'sha', 1, 9)

# Multiply tuple
We use '*' operator to multiply two or more tuples.

In [24]:
girl=("ani","sha")
new = girl * 2
print(new)

('ani', 'sha', 'ani', 'sha')

# Tuple Method
  - count( ) : returns number of time specified value occurs in tuple.
  - index( ) : search list in tuple by its index number